<div id="slidebar">
  <div class="imageContent">
    <img
      src="../../../assets/images/mundo.png"
      alt="mundo"
      class="animate__animated animate__pulse animate__repeat-3"
    />
    <h3>Paises </h3>
  </div>
  <div class="menu">
    <h2>Menu</h2>
    <hr />

    <div
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Buscar País
    </div>

    <div routerLink="region" routerLinkActive="active">Buscar por Región</div>

    <div routerLink="capital" routerLinkActive="active">Buscar por Capital</div>
  </div>
</div>
