<div id="slidebar">
  <div class="imageContent">
    <img src="../../../assets/images/mundo.png" alt="mundo" />
  </div>
  <div class="menu">
    <h2 >Busquedas</h2>
    <hr />

    <div
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Buscar Pais
    </div>

    <div routerLink="region" routerLinkActive="active">Buscar por Region</div>

    <div routerLink="capital" routerLinkActive="active">Buscar por Capital</div>
  </div>
</div>
